@import 'normalize.css';
@import 'stylesheet_index.css'; 	/*nav-bar and general outfit*/
@import 'stylesheet_models.css';	/*aside*/

section {
	width: 70%;
	float: right;
	background-color: rgba(6, 30, 51, .6);
	padding: 10px;
	color: white;
	margin: 2em 2em 1em 0.2em;
	font-family: 'Quantico', 'Lato', sans-serif;
}

section h1 {
	margin-left: 1em;
}

.main-col {
	display: inline-block;
	min-width: 10em;
	max-width: 25em;
}

td {
	padding: 1em 0 1em 0;
}

.col1 {
	width: 10%;
}

.col1 h6 {
	text-align: left;
}

.col2 {
	width: 10%;
}

td a {
	text-decoration: none;
	color: white;
}

td img {
	width: 80%;
	margin: 0 5% 0 5%;
}

td h5 {
	font-size: 1.5em;
	margin: 0;
}

td h6 {
	font-size: 1em;
	text-align: center;
	margin: 0.5em;
}