a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #fff;
}

.active {
	text-decoration: underline;
}

#bar {
	background-color: #3E6680;
	text-align: center;
	color: #fff;
	padding-bottom: .5em;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding: 0;
}

.container-fluid {
	padding: 0;
}

footer {
	background-color: #3E6680;
	text-align: center;
	color: #fff;
}

footer .fn {
	margin-right: 10%;
}

h1 {
	color: #fff;
	text-align: center;
}

h3 {
	color: #fff;
}

hidden {
	display: none;
}

img {
	margin-top: 2em;
	margin-right: 2em;
}

#jumbo {
	background-color: #3D8AF7;
	text-align: center;
	padding-bottom: 1em;
}

#jumbo img {
	border-radius: 50%;
	margin-bottom: 2em;
}

#langOpt {
	padding: 1em;
}

#langOpt p:hover {
	cursor: pointer;
}

#mobileLang {
	display: none;
}

p {
	color: #fff;
}

.project1 {
	background-color: #3D8AF7;
	height: auto;
}

.project2 {
	background-color: #027BCE;
	height: auto;
}

.right img {
	margin-left: 2em;
}

.row {
	margin: 0;
}

@media (max-width: 991px) {
	
	img {
		margin: 1em;
		margin-top: 2em;
	}
	
	#langOpt {
		display: none;
	}
	
	#mobileLang {
		display: block;
		color: #fff;
		text-decoration: underline;
	}
	
	#jumbo {
		padding: 1em;
	}
	
	.right img {
		margin: 1em;
		margin-top: 2em;
	}

}
