a {
	color: #8AE2FF;
}

a:hover {
	color: #8AE2FF;
}

.active {
	font-weight: 800;
}

body {
	background-image: url(images/background.jpg);
	font-family: monospace;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.8);
	padding: 0 4em 4em 4em;
	margin: 0 0 -1.5em 0;
}

.clearfix {
	display: none;
}

footer {
	background: rgba(0,0,0,0.8);
	color: #E4F2F7;
	text-align: center;
}

h3 {
	color: #8AE2FF;
}

h4 {
	color: #E4F2F7;
	white-space: nowrap
}

.intro-text {
	margin-top: 4em;
}

.item img {
	width: 100%;
}

#js-text {
	margin-left: -1em;
	margin-right: 1em;
}

#jumbo {
	margin-bottom: 2em;
}

#lang-btn {
	display: none;
}

#lang-opt {
	margin-top: 2em;
}

.mail {
	margin-left: 2em;
}

p {
	color: #E4F2F7;
}

#profile-pic {
	border-radius: 50%;
}

#raspberry-text {
	margin-left: -1.5em;
	margin-right: 1.5em;
}

#technologies {
	margin-top: 2em;
}

#technologies img {
	width: 100%;
}

.tech-text {
	text-align: center;
}

@media (max-width: 992px) {
	.carousel-caption {
		margin-bottom: -3em;
	}

	.clearfix {
		display: block;
	}

	#lang-btn {
		display: block;
		font-family: monospace;
		font-size: 2em;
		text-align: center;
		padding-top: 1em;
	}

	#lang-opt {
		display: none;
	}

	.tech-text {
		display: none;
	}

	#technologies {
		overflow: hidden;
	}
}
