.App {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-bottom: 2rem;

  .inverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .project {
    max-height: 30rem;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .five {
      max-height: 30rem;

      img {
        margin-top: 2rem;
        border-radius: 8px;
        max-height: 21rem;
        max-width: 100%;
      }
    }

    .seven {
      padding: 0 1rem;
    }

    .tag-wrapper {
      margin: 2rem 0;
    }

    .tag {
      display: inline-block;
      border: 1px solid white;
      border-radius: 4px;
      font-weight: bold;
      padding: 0.25rem 1rem;
      margin: 0.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .App .project {
    max-height: unset;
    height: unset;

    .five img {
      margin-top: 6rem;
    }
  }
}

@media (max-width: 550px) {
  .App {
    background-size: 100% 100vh;

    .inverse {
      display: block;
    }

    .project {
      .five {
        min-height: 26rem;

        img {
          margin-top: 3rem;
        }
      }

      .seven {
        min-height: 30rem;
      }
    }
  }
}
