.header {
  padding-top: 25vh;
  padding-bottom: 25vh; }
  .header > * {
    height: 50vh; }
  .header #profile-pic {
    border-radius: 50%;
    max-width: 50%; }
  .header .link-wrapper {
    margin: 2rem; }
    .header .link-wrapper > * {
      display: inline-block;
      margin: 2rem; }
      .header .link-wrapper > * a {
        color: white; }
      .header .link-wrapper > * a:hover {
        color: grey; }
      .header .link-wrapper > * a img {
        width: 3rem;
        vertical-align: middle; }

@media (max-width: 550px) {
  .mobile-hidden {
    display: none; }
  .header {
    padding: 2rem 0 0 0; }
    .header .link-wrapper > * {
      margin: 1rem; } }

@media (max-width: 500px) {
  .header > * {
    height: unset; }
  .header #profile-pic {
    margin-top: 2rem; }
  .header .link-wrapper {
    margin: 1rem; }
  .header .link-wrapper a {
    padding: 0 0.3rem; } }
