.header {
  padding-top: 25vh;
  padding-bottom: 25vh;

  & > * {
    height: 50vh;
  }

  #profile-pic {
    border-radius: 50%;
    max-width: 50%;
  }

  .link-wrapper {
    margin: 2rem;

    & > * {
      display: inline-block;
      margin: 2rem;

      a {
        color: white;
      }

      a:hover {
        color: grey;
      }

      a img {
        width: 3rem;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 550px) {
  .mobile-hidden {
    display: none;
  }

  .header {
    padding: 2rem 0 0 0;

    .link-wrapper > * {
      margin: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .header {
    & > * {
      height: unset;
    }

    #profile-pic {
      margin-top: 2rem;
    }

    .link-wrapper {
      margin: 1rem;
    }

    .link-wrapper a {
      padding: 0 0.3rem;
    }
  }
}
